@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Geist";
  src: url("./assets/fonts/Geist-Italic[wght].ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces";
  src: url("./assets/fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("./assets/fonts/DMSerifDisplay-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Serif Display";
  src: url("./assets/fonts/DMSerifDisplay-Italic.ttf")
    format("truetype");
  font-weight: 400;
  font-style: italic;
}

.font-dm {
  font-family: "DM Serif Display", serif;
}

.font-fraunces {
  font-family: "Fraunces", serif;
}

.font-geist {
  font-family: "Geist", sans-serif;
}
/* @keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    transform: translateY(10px);
    opacity: 0.4;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-scroll {
  animation: scroll 1.6s ease-in-out infinite;
} */
 @keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
}

.delay-100 {
  animation-delay: .1s;
}

.delay-300 {
  animation-delay: .3s;
}

.delay-500 {
  animation-delay: .5s;
}

.delay-700 {
  animation-delay: .7s;
}
/* in your main CSS file, e.g. index.css */
input, select, textarea {
  font-size: 16px  !important;
}